body {
    font-family: 'Poppins','sans-serif';
    background-color: #DCDFE4;
    margin: 0px;
} 
/* navbar styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeebeb;
    padding: 0px 40px;
    margin: 0px 0px;
}

.nav-left a {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    color: black;
}

.nav-left ul {
    display: flex;
    align-items: center;
}


#myproject {
    font-weight: bold;
}

nav img {
    width: 55px;
    margin: 10px 50px 0px 0px;
}

.nav-right a {
    color: white;
    border: 1px solid #111727;
    background-color: #111727;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 70px;
    text-align: justify;
    text-decoration: none;
    font-size: 18px;
}


/* Project styling */

h1 {
    margin: 50px auto;
    width: 350px;
    text-align: center;
}

form {
    width: 500px;
    margin: 50px auto;
  
}
form div {
    padding: 10px;
}

label{
    font-weight: 600;
    font-size: 20px;
    width: 100%;
}

#project,
#start,
#end,
textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: #5a5555a1 1px 1px;
}

textarea {
    resize: none;
}

.start-date,
.end-date {
    margin: 0px;
    padding: 0px;
}


.date {
    display: flex;
    justify-content: center;
    align-self: center;
}
 .start-date {
     margin-right: 25px ;
} 

.start-date input {
    font-family: 'Poppins','sans-serif';
}
.end-date {
    margin-left: 25px ;
} 

.end-date input {
    font-family: 'Poppins','sans-serif';
}


.tech {
    list-style-type: none;
    display: grid;
    grid-template-columns: 200px 200px;
}

.tech p {
    font-family: 'Poppins','sans-serif';
    font-weight: 550; 
    font-size: 20px;
    text-align: left;
}
.tech input {
    height: 20px;
    width: 20px;
}

.upload {
    margin: 0px;
    padding: 0px;
}
#upload {
    width: 502px;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: #5a5555a1 1px 1px;
    margin: 0px 0px;
    padding: 0px 0px;

}

::-webkit-file-upload-button{
    background-color: grey;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100px;
}

.upload img {
    position: relative;
    width: 30px;
    bottom: 60px;
    left: 470px;
}


.button-submit button{
    color: white;
    background-color: #111727;
    border: 1px solid #111727;
    border-radius: 50px;
    padding: 5px 35px;
    position: relative;
    left: 370px;
    font-size: 17px;
}



/* MY PROJECT */

.my-project-detail {
    background-color: white;
    padding: 30px 0px;
}
.project-detail h1{
    margin: 0px auto;
    width: 350px;
    text-align: center;
}
.project-detail {
    width: 350px; 
    height: auto;
    border: 1px solid whitesmoke; 
    box-shadow: 0 0 10px rgba(85, 83, 83, 0.904);
    background-color:white; 
    border-radius: 2%; 
    margin: 30px 0px 0px 70px;
}

.flex-style {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.inner-project {
    padding: 20px;
}

.project-detail img {
    width: 100%; 
    height: auto; 
    border-radius: 2% 2%;
    margin-bottom: 10px;
}

.project-title{
    height: fit-content; 
    margin: 0px;
    padding: 0px;
}

.project-title h3{
    height: fit-content; 
    margin: 0px;
    padding: 0px;
}

.project-title a {
    text-decoration: none;
    color: black;
}

.duration {
    height: fit-content;
    font-size: smaller;
    font-weight: lighter;
    color: #000000a1;
}

.duration p {
    margin: 0px;
    padding: 0px;
}

.project-desc {
    height: fit-content;
    margin: 30px 0px;
}

.logo-tech {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 30px;
    height: auto;
    margin: 20px 0px;
}

.logo-tech img{
    margin-right: 20px;
}



.project-button {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.project-button button {
    color: white;
    background-color: #111727;
    border: 1px solid #111727;
    border-radius: 8px;
    padding: 4px 55px;
    font-size: 18px;
}
